@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}

.top-content{
    display:flex;
    margin-top: 100px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

h1{
    color: darkgray;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    text-align: center;
}

#todo-input{
    padding: 20px;
    width: 200px;
}

#add{
    width: 150px;
    height: 50px;
    padding: 8px 14px;
    margin-left: 50px;
    font-weight: bold;
    color: #fff;
    background: #009578;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(3,44,41,0.226);
}

.delete{
    padding: 5px 10px;
    font-weight: lighter;
    color: #fff;
    background: #d4472b;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(3,44,41,0.226);
}

input[type="date"]{
    position: relative;
    width: 250px;
    height: 50px;
    padding: 20px;
    margin-left: 50px;
    border: 0;
    border-radius: 10px;
    outline: none;
    font-weight: 300;
    letter-spacing: 3px;
    box-shadow: 0 4px 20px rgba(3,44,41,0.226);
}

input[type="text"]{
    position: relative;
    width: 250px;
    height: 50px;
    padding: 20px;
    margin-right: 1rem;
    border: 0;
    border-radius: 10px;
    outline: none;
    font-weight: 300;
    box-shadow: 0 4px 20px rgba(3,44,41,0.226);
}

.output{
    padding: 1rem 3rem;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

    